
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.mamae{
  display: flex;
  flex-direction: row;

}

.lateralDiv{
  width: 30%;
  display: flex;
  flex-direction: column;
}

.cursosDiv{
  width: 70%;
  display: flex;
  flex-direction: column;
}

/*Header css*/

.header{
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: space-between;
  background-color: #22B14C;
}

.nome > h1{
  color: #fff;
}

.redes{
  width: 50px;
  height: 50px;
  margin: 10px;
}

/*LATERAL css*/
button{
  margin: 20px;
  height: 50px;
  font-weight: 700;
  color: #fff;
  background-color: #22B14C;
  border-radius: 10px;
  cursor: pointer;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lateral{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo >h1{
  color: #22B14C;
  font-size: 2em;
}

.imgLogo{
  width: 150px;
  height: 150px;
  border-left: 2px solid #22B14C;
  border-right: 2px solid #22B14C;
}

/*Cursos css*/


.apenasdiv{
  display: flex;
  justify-content: center;
}

.cursos{
  display: flex;
  flex-direction: column;
  width: 99%;
  border: 2px solid #cacaca;
}

.nomeInst{
  display: flex;
  justify-content: space-between;
}

.fotoCurso{
  display: flex;
  width: 100%;
}

.cursoImg{
  width: 100%;
}

.svgDiv{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.svg{
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding-right: 15px;
}

.comentarioDiv{
  display: flex;
  flex-direction: row;
  font-size: 2em;
  margin-top: 0px;

}


/* Estilo para os botões */
button {
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
}

button:focus {
  outline: none;
}


/* Estilo para o botão "Entrar" do modal */
button[style*="background-color: #22B14C"] {
  background-color: #22B14C;
  color: #ffffff;
}

/* Estilo para o botão "Cancelar" do modal*/
button[style*="border-color: #22B14C"] {
  border: 2px solid #22B14C;
  background-color: transparent;
  color: #22B14C;
}


/* Estilo para o modal */
.ReactModal__Overlay {
  background-color: #00000080;
}

.ReactModal__Content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
}

/* Estilos para a caixa de comentário */
.comentarioBox {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.comentarioBox textarea {
  width: 100%;
  height: 100px;
  padding: 1px;
  border: 1px solid #cacaca;
  border-radius: 5px;
  resize: none;
}

.comentarioBox button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #c4c4c4;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: 700px;
}

.comentarioBox button:hover {
  background-color: #22B14C;
  color: #fff;
}

.lapisEditar{
  width: 20px;
  height: 20px;
  padding: 2px;
  cursor: pointer;
  margin-right: 10px;
}
